body {
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  line-height: 1.3em;
}

h1 {
  font-size: 36px;
  margin: 10px 0;
}
h2 {
  font-size: 24px;
  margin: 10px 0;
}

label {
  color: #BBB;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
}

input[type=password],
input[type=text] {
  border: 5px solid #EEE;
  font-family: Monaco, Courier, fixed;
  font-size: 16px;
  padding: 5px;
}

form .hint {
  color: #CCC;
  font-size: 11px;
}

td {
  padding: 1px 10px 1px 0;
}

#container {
  padding: 10px 20px;
}

.bookmarklet {
  background: #EEE;
  border-top: 1px solid #DDD;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  border-left: 1px solid #DDD;
  color: #888;
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  height: 1em;
  line-height: 1em;
  margin-bottom: 4px;
  padding: 2px 6px 3px;
  text-decoration: none;
  vertical-align: middle;
  -moz-border-radius: 10px;
  -webkit-border-radius: 8px;
}

.command {
  font-family: Monaco, Courier, fixed;
}

.gravatar {
  border: 1px solid #EEE;
  padding: 2px;
  vertical-align: bottom;
}

.host {
  color: #CCC;
  font-size: 12px;
}
