<div class="help">
  <h3>Available Placeholders</h3>

  <dl>
    <dt><span class="command">%q</span></dt>
    <dd>
      <p>What you type into the command box - except for the command itself.</p>
    </dd>
    <dt><span class="command">%l</span></dt>
    <dd>
      <p>The URL of the page where the command was invoked.</p>
    </dd>
    <dt><span class="command">%s</span></dt>
    <dd>
      <p>Currently selected text from the page.</p>
    </dd>
    <dt>
      <span class="command">%1</span>,
      <span class="command">%2</span>,
      <span class="command">%3</span>,
      ...
    </dt>
    <dd>
      <p>Numbered placeholders.</p>
    </dd>
    <dt><span class="command">%n</span></dt>
    <dd>
      <p>Any unused numbered placeholders.</p>
    </dd>
  </dl>
</div>
